//覆盖element色调
$--color-primary: #5887ff;
$--color-success: #35C655;
$--color-warning: #FEC44C;
$--color-danger: #dd3939;
$--color-info: #909399;



// /// color|1|Font Color|2
// $--color-text-primary: #303133 !default;
// /// color|1|Font Color|2
// $--color-text-regular: #606266 !default;
// /// color|1|Font Color|2
// $--color-text-secondary: #909399 !default;
// /// color|1|Font Color|2
// $--color-text-placeholder: #C0C4CC !default;
// /// color|1|Border Color|3
// $--border-color-base: #DCDFE6 !default;
// /// color|1|Border Color|3
// $--border-color-light: #E4E7ED !default;
// /// color|1|Border Color|3
// $--border-color-lighter: #EBEEF5 !default;
// /// color|1|Border Color|3
// $--border-color-extra-light: #F2F6FC !default;

$--color-text-regular: #2F3036;
$--color-text-placeholder: #e2e2e2;
$--color-text-secondary: #ACACAC;

// 自定义色值
// $color-text-outstanding: #2F3036;
// $color-text-light: #ACACAC;


//原element样式引入
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";